# .env.example
# Salin file ini menjadi .env dan sesuaikan nilainya jika perlu
# JANGAN commit file .env ke git

# ClickHouse
CH_HOST=localhost
CH_PORT=8123
CH_USER=admin
CH_PASSWORD=admin123

# Folder data raw
RAW_DIR=data
