# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data — jangan commit file CSV besar ke git
data/*.csv

target/
dbt_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
